<div class="room active" id="day01">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>
  <p class="local">LOCAL: <a target="_blank" href="#">a definir</a></p>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk"> Aguarde</p>
    <p class="speaker">Em breve informaremos os palestrantes!</p>

   <!--  Colocar um grupo de 4 p's para cada palestra

    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <p class="speaker">Por Por Lorem ipsum dolor</p>

   -->
  </div>

</div>
