<div class="room active" id="day01">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/dir/''/una+aimores/@-19.9285911,-44.0079445,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0xa699e743d758e9:0x8e93c8bbee592e76!2m2!1d-43.9379041!2d-19.9286048">Rua dos Aimorés, 1451 - Lourdes, Belo Horizonte - MG (Centro Universitário UNA)</a></p>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">#sala1</span></p>
    <p class="talk"> Aguarde</p>
    <p class="speaker">Em breve informaremos os palestrantes!</p>

   <!--  Colocar um grupo de 4 p's para cada palestra

    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <p class="speaker">Por Por Lorem ipsum dolor</p>

   -->
  </div>

</div>
