<div class="room active" id="day01">
  <h1>Palestras</h1>
  <p class="day-description">Palestras de 35 a 50 minutos com palestrantes renomados da comunidade.</p>
  <p class="local">LOCAL: <a target="_blank" href="https://www.google.com.br/maps/place/ICBEU+-+Escola+de+Ingl%C3%AAs/@-19.930136,-43.9407767,17z/data=!3m1!4b1!4m5!3m4!1s0xa699dde3b2baa3:0x3c020426c4546ae2!8m2!3d-19.930136!4d-43.938588?hl=en">Rua da Bahia, 1723 - Centro, Belo Horizonte - MG (ICBEU - Escola de Inglês)</a></p>

  <div class="lecture">
    <p class="hour"><time>07:45</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Credenciamento</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>08:45</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Abertura</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Mirella M. Moro</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>09:50</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">DSLs embarcadas em Python</p>
    <p class="speaker">Elias Tandel</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:20</time></p>
    <p><span class="track track-tutorials">Área externa</span></p>
    <p class="talk">Coffee break</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>10:50</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Programação Funcional em Python, de forma simples</p>
    <p class="speaker">Anderson Resende</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>11:20</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Luciano Ramalho</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>12:10</time></p>
    <p><span class="track track-tutorials">Almoco</span></p>
    <p class="talk">Almoço</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>13:40</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Shut up and give me the data!</p>
    <p class="speaker">Ana Paula Gomes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>14:10</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Larissa Lautert</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">APIs: o que são, onde vivem, do que se alimentam?</p>
    <p class="speaker">Filipe Ximenes</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>15:30</time></p>
    <p><span class="track track-tutorials">Área externa</span></p>
    <p class="talk">Coffee break</p>
    <p class="speaker">Organização</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Keynote</p>
    <p class="speaker">Alê Borba</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>16:50</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Lightning talks</p>
    <p class="speaker">Público</p>
  </div>

  <div class="lecture">
    <p class="hour"><time>18:00</time></p>
    <p><span class="track track-tutorials">Auditorio</span></p>
    <p class="talk">Encerramento</p>
    <p class="speaker">Organização</p>
  </div>

   <!--  Colocar um grupo de 4 p's para cada palestra

    <p class="hour"><time>08:00</time></p>
    <p><span class="track track-tutorials">#sala2</span></p>
    <p class="talk">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <p class="speaker">Por Por Lorem ipsum dolor</p>

   -->
</div>
