<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include _conference-icon.html %}
      <h1>Conferência</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum porta erat, nec finibus odio congue ac.</p>
      <p class="code-of-conduct"><a href="#" target="_blank">Leia nosso Código de Conduta</a></p>
    </div>

    <div class="column">
      {% include _staff-icon.html %}
      <h1>Organização</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum porta erat, nec finibus odio congue ac.</p>
    </div>
  </div>
</section>
