<section class="location" id="location">
  <div class="row">
    {% include _maps-icon.html %}

    <h1>Novotel - São José dos Campos/SP</h1>
    <p><a href="https://mapa-pybr11.herokuapp.com/" target="_blank" class="link">Veja como chegar ao local</a> | <a href="http://www.novotel.com/gb/hotel-0472-novotel-sao-jose-dos-campos/index.shtml" target="_blank" class="link">Acesse o site do Hotel</a></p>

    <p class="booking">Para fazer a reserva no site, o participante deverá entrar no <a href="http://www.novotel.com" target="_blank" class="link">www.novotel.com</a> e no campo “cidade” ele deve colocar o código <strong>0472</strong>, data de entrada e saída, número de pessoas hospedadas e no campo “código preferencial” ele deverá colocar o código <strong>PYMES</strong>.</p>
  </div>

  <div class="row rates">
    <div class="tax">
      <h2>HOSPEDAGENS EM 6 E 7 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 201 + 5% ISS<br>
        Quarto duplo (diária) – R$ 231 + 5% ISS
      </p>
    </div>

    <div class="tax">
      <h2>HOSPEDAGENS EM 8 A 11 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 225 + 5% ISS<br>
        Quarto duplo (diária) – R$ 255 + 5% ISS
      </p>
    </div>
  </div>
</section>
