<section class="location" id="location">
  <div class="row">
    {% include _maps-icon.html %}

    <h1>Belo Horizonte - MG</h1>
    <p><a href="#" target="_blank" class="link">Veja como chegar ao local</a> | <a href="#" target="_blank" class="link">Acesse o site do local</a></p>

    <p class="booking">Aguarde! Em breve informaremos detalhes sobre hospedagem na região da Python Sudeste 2016.</p>
  </div>

<!--   <div class="row rates">
    <div class="tax">
      <h2>HOSPEDAGENS EM 6 E 7 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 201 + 5% ISS<br>
        Quarto duplo (diária) – R$ 231 + 5% ISS
      </p>
    </div>

    <div class="tax">
      <h2>HOSPEDAGENS EM 8 A 11 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 225 + 5% ISS<br>
        Quarto duplo (diária) – R$ 255 + 5% ISS
      </p>
    </div>
  </div> -->
</section>
