<section class="location" id="location">
  <div class="row">
    {% include _maps-icon.html %}

    <h1>Centro Universitário UNA (Campus Aimorés)</h1>
    <p><a href="https://www.google.com.br/maps/dir/''/una+aimores/@-19.9285911,-44.0079445,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0xa699e743d758e9:0x8e93c8bbee592e76!2m2!1d-43.9379041!2d-19.9286048" target="_blank" class="link">Veja como chegar ao local</a> | <a href="https://www.una.br/unidade/campus-aimores/" target="_blank" class="link">Acesse o site do local</a></p>

    <p class="booking">Aguarde! Em breve informaremos detalhes sobre hospedagem na região da Python Sudeste 2016.</p>
  </div>

<!--   <div class="row rates">
    <div class="tax">
      <h2>HOSPEDAGENS EM 6 E 7 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 201 + 5% ISS<br>
        Quarto duplo (diária) – R$ 231 + 5% ISS
      </p>
    </div>

    <div class="tax">
      <h2>HOSPEDAGENS EM 8 A 11 DE NOVEMBRO</h2>
      <p>
        Quarto individual (diária) – R$ 225 + 5% ISS<br>
        Quarto duplo (diária) – R$ 255 + 5% ISS
      </p>
    </div>
  </div> -->
</section>
