<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>
    <p class="schedule-description">07 e 08 - Tutoriais | 09 e 10 - Palestras | 11 - Sprints</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day7" class="item-link active">Dia 7</a>
        </li>

        <li class="item">
          <a href="#day8" class="item-link">Dia 8</a>
        </li>

        <li class="item">
          <a href="#day9" class="item-link">Dia 9</a>
        </li>

        <li class="item">
          <a href="#day10" class="item-link">Dia 10</a>
        </li>

        <li class="item">
          <a href="#day11" class="item-link">Dia 11</a>
        </li>
      </ul>
    </nav>

    {% include _day07.html %}

    {% include _day08.html %}

    {% include _day09.html %}

    {% include _day10.html %}

    {% include _day11.html %}
  </div>
</section>
