<section class="schedule" id="schedule">
  <div class="row">
    <h1>Lorem ipsum</h1>
    <p class="schedule-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day01" class="item-link active">Dia 01</a>
        </li>

        <li class="item">
          <a href="#day02" class="item-link">Dia 02</a>
        </li>
      </ul>
    </nav>

    {% include _day01.html %}

    {% include _day02.html %}

  </div>
</section>
