<section class="schedule" id="schedule">
  <div class="row">
    <h1>Programação</h1>

    <div class="btn-center">
      <a href="http://speakerfight.com/events/python-sudeste-2016-palestras/" target="_blank" class="btn">SEJA UM PALESTRANTE</a>

      <a href="http://speakerfight.com/events/python-sudeste-2016-tutoriais/" target="_blank" class="btn">ENVIAR PROPOSTA DE TUTORIAL</a>
    </div>

    <p class="schedule-description">27 - Palestras | 28 - Sprints e Tutoriais</p>

    <nav class="days">
      <ul class="list">
        <li class="item">
          <a href="#day01" class="item-link active">Dia 01</a>
        </li>

        <li class="item">
          <a href="#day02" class="item-link">Dia 02</a>
        </li>
      </ul>
    </nav>

    {% include _day01.html %}

    {% include _day02.html %}

  </div>
</section>
