<section class="speakers" id="speakers">
  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">
      <li class="speaker">
          <div class="photo">
            <img src="images/speakers/borba.png" alt="Alê Borba">
          </div>

          <h2 class="speaker-name">Alê Borba</h2>
          <p class="speaker-description">Community Manager focado em comunidades técnicas e de desenvolvedores. Trabalhando pesado para que todas essas comunidades cresçam. Além disso, um apaixonado por acessibilidade em geral, principalmente web, que realmente acredita que a tecnologia veio para ajudar cada vez mais as pessoas.</p>
        <a href="https://twitter.com/ale_borba" target="_blank" class="speaker-link">
          <img src="images/twitter.png" width="34" alt="Twitter" />
        </a>
        <a href="https://www.linkedin.com/in/alexandrealvesborba/pt" target="_blank" class="speaker-link">
          <img src="images/linkedin.png" width="32" alt="Linkedin" />
        </a>
        <a href="https://github.com/aleborba" target="_blank" class="speaker-link">
          <img src="images/github.png" width="32" alt="Github" />
        </a>
      </li>
      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/ramalho.jpg" alt="Luciano Ramalho">
        </div>

        <h2 class="speaker-name">Luciano Ramalho</h2>
        <p class="speaker-description">Autor do livro Python Fluente, ajudou a criar a Associação Python Brasil. É membro da Python Software Foundation e fundador do primeiro hackerspace do Brasil, Garoa Hacker Clube.</p>
        <a href="https://twitter.com/ramalhoorg" target="_blank" class="speaker-link">
          <img src="images/twitter.png" width="34" alt="Twitter" />
        </a>
        <a href="https://www.linkedin.com/in/lucianoramalho" target="_blank" class="speaker-link">
          <img src="images/linkedin.png" width="32" alt="Linkedin" />
        </a>
        <a href="https://github.com/ramalho" target="_blank" class="speaker-link">
          <img src="images/github.png" width="32" alt="Github" />
        </a>
      </li>
      <li class="speaker">
        <div class="photo">
          <img src="images/speakers/larissa-lautert.jpg" alt="Larissa Lautert">
        </div>

        <h2 class="speaker-name">Larissa Lautert</h2>
        <p class="speaker-description">Exploradora por natureza, seja numa trilha no meio da floresta ou diante de milhões de registros de dados. Faz do Python sua ferramenta para minerar o tráfego do ecommerce nacional, a partir do qual gera insights que alimentam a evolução do sistema de recomendações Neemu-Chaordic.</p>
        <a href="https://www.linkedin.com/in/larissa-lautert-1803b663" target="_blank" class="speaker-link">
          <img src="images/linkedin.png" width="32" alt="Linkedin" />
        </a>
        <a href="https://github.com/llautert" target="_blank" class="speaker-link">
          <img src="images/github.png" width="32" alt="Github" />
        </a>
      </li>
    </ul>
  </div>
</section>
