<section class="speakers" id="speakers">
  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">
      <li class="speaker">
        <a href="#" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/no-speaker.jpg" alt="Lorem ipsum dolor sit amet">
          </div>

          <h2 class="speaker-name">Lorem ipsum dolor sit amet</h2>
          <p class="speaker-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum porta erat, nec finibus odio congue ac. Donec tempus lobortis cursus. Curabitur et turpis dolor.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
