<section class="speakers" id="speakers">
  <div class="row">
    <h1>Palestrantes</h1>

    <ul class="speakers-list">
      <li class="speaker">
        <a href="#" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/no-speaker.jpg" alt="Lorem ipsum dolor sit amet">
          </div>

          <h2 class="speaker-name">Em breve...</h2>
          <p class="speaker-description">Aguarde! Em breve atualizaremos esta seção com os palestrantes da Python Sudeste 2016!</p>
        </a>
      </li>
    </ul>
  </div>
</section>
