<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>

    <ul class="sponsors-list">
      <li class="item">
        <a href="mailto:python.minas.gerais@gmail.com?subject=Patrocínio" target="_blank" class="item-link">
          <p class="category">Clique aqui e seja um Patrocinador!</p>

          <div class="imgs">
            <img src="images/sponsors/lorem/no-sponser.jpg" alt="Lorem ipsum">
          </div>
        </a>
      </li>

    </ul>
  </div>
</section>
