<section class="sponsors" id="sponsors">
  <div class="row">
    <h1>Patrocinadores</h1>
    <a
        id="sponsorship-link"
        class="item-link"
        href="https://docs.google.com/document/d/1C7ryoX3QzC_AG2VuzWI25YK7YaXCWSd4PexZl3jeM4U/edit?usp=sharing"
        target="_blank"
        >Seja nosso parceiro!</a>

    <ul class="sponsors-list">
      <li class="item">
          <p class="category">Apoio</p>
          <div class="imgs">
            <a href="https://www.una.br/" target="_blank">
              <img src="images/sponsors/una-200x200.png" alt="Centro Universitário UNA" title="Centro Universitário UNA">
            </a>
          </div>
        </a>
      </li>

      <!-- <li class="item">
          <p class="category">Patrocinadores Platina</p>
          <div class="imgs">
            <img src="images/sponsors/lorem/no-sponser.jpg" alt="Lorem ipsum">
          </div>
        </a>
      </li>

      <li class="item">
          <p class="category">Patrocinadores Ouro</p>
          <div class="imgs">
            <img src="images/sponsors/lorem/no-sponser.jpg" alt="Lorem ipsum">
          </div>
        </a>
      </li>

      <li class="item">
          <p class="category">Patrocinadores Prata</p>
          <div class="imgs">
            <img src="images/sponsors/lorem/no-sponser.jpg" alt="Lorem ipsum">
          </div>
        </a>
      </li> -->

    </ul>
  </div>
</section>
