<section class="volunteers" id="volunteers">
  <div class="row">
    <h1>Agradecimento especial</h1>
    <ul>
      <li>Guilherme Pereira Gasparini Kingma</li>
      <li>Marcus vinicius de azevedo fiuza</li>
      <li>Sarah Carolina Silva</li>
      <li>JOSÉ RENATO BARROSO</li>
      <li>Daker Fernandes Pinheiro</li>
      <li>Emilio Simoni</li>
      <li>Julio Freitas</li>
      <li>José Lopes de Oliveira Jr.</li>
      <li>A A DOURADO FH</li>
      <li>Marcus Augusto Ferreira de Almeida</li>
      <li>Júlia Kastrup </li>
      <li>Mário Sérgio Oliveira de Queiroz</li>
      <li>Igor Medeiros</li>
      <li>Lucas Magnum</li>
      <li>Diêgo FIlipe Bolina</li>
      <li>Ton</li>
      <li>Igor Leroy</li>
      <li>Thais Viana</li>
      <li>Lucas Augusto Freire de Oliveira</li>
      <li>Victor de Freitas Arruda</li>
      <li>Rafael de Oliveira Ribeiro</li>
      <li>PEDRO PAULO RODRIGUES TEIXEIRA FILHO</li>
      <li>Pedro Araújo Júnior</li>
      <li>Guilherme Augusto Fernandes dos Anjos</li>
      <li>Rhenan Bartels</li>
      <li>Daniel Kneipp de Sá Vieira</li>
      <li>Marcus Oliveira</li>
      <li>Diego Moreira Guimarães</li>
      <li>Guilherme Henrique Magalhães</li>
      <li>Evandro Caldeira</li>
      <li>André Almeida Rocha</li>
      <li>Casa</li>
      <li>Leandro Pessoa</li>
      <li>Gerardon Soares</li>
      <li>Lucas Porto Lopes</li>
      <li>Gustavo Henrique Guimarães</li>
      <li>Tomaz Cunha</li>
      <li>Paula Grangeiro</li>
      <li>Marcelo Gomes da Silva</li>
      <li>Robson Junior</li>
      <li>Jorge Rodolfo Lima</li>
      <li>Carlos Roberto de Oliveira Ferreira Filho</li>
      <li>Eduardo Monteiro</li>
      <li>Fernando Chimicoviaki</li>
      <li>Bernardo Gomes</li>
      <li>Rafael Andrade Lott</li>
      <li>Gabriela Garcia</li>
      <li>Gabriel Givigier Guimarães</li>
      <li>Ervilis de Souza</li>
      <li>Lucas Mendes</li>
      <li>Humberto Rocha</li>
      <li>Dalton Sena</li>
      <li>Rafael Acorsi</li>
      <li>Diogo Martins</li>
      <li>Eduardo Sanches</li>
      <li>Eduardo Stalinho</li>
      <li>William Alves</li>
      <li>João Otávio Ferreira Barbosa</li>
      <li>RICARDO VINICIUS PINTO SANTOS</li>
      <li>David Pinto</li>
      <li>Ruhan Bidart </li>
      <li>Abraão Marques Tavares</li>
      <li>Lucas Brito Arruda</li>
      <li>Samuel Danilo</li>
      <li>Ronaldo Ribeiro da Silveira Junior</li>
      <li>Elton Angelo Rabelo</li>
      <li>Jose Carlos F Rocha</li>
      <li>João Victor Paulo Silva</li>
      <li>Hebert Júlio Gonçalves de Paula</li>
      <li>Renato dos Santos Oliveira</li>
      <li>Elias tobias rodrigues</li>
      <li>Guilherme Vierno</li>
      <li>Gustavo Carvalho</li>
      <li>Geisler Alves Dias</li>
      <li>Guilherme Almeida</li>
      <li>Cintia Sestelo Campos</li>
      <li>Carlos H A Dias</li>
      <li>Jean Oliveira Rodrigues</li>
      <li>Welton Vaz de Souza</li>
      <li>Afonso Augusto Ventura Rodrigues</li>
      <li>Mariana Bedran Lesche</li>
      <li>Tales Herique José Moreira</li>
      <li>Raphael Passini Diniz</li>
      <li>Israel Santiago</li>
      <li>Thiago Pereira Nobre</li>
      <li>ANDRE ALMEIDA ARAUJO</li>
      <li>Elias Tandel Barrionovo</li>
      <li>Álvaro Justen</li>
      <li>Alexandre Villela Brandao Slex</li>
      <li>Marco Antonio Gonçalves Vilella</li>
      <li>Thiago Magela Rodrigues Dias</li>
      <li>Flávio Amieiro</li>
      <li>Bernardo Botelho Fontes</li>
      <li>Marcus Santos</li>
      <li>Isis Soledad</li>
      <li>Elias Dorneles da Silveira Junior</li>
      <li>Carlos Henrique Nogueira Ferreira</li>
      <li>Rafael Pacheco Ribeiro</li>
      <li>ARTHUR BRAGA ALFREDO</li>
      <li>Tiago Guimarães</li>
      <li>Cássio Botaro</li>
    </ul>
    <br/>
    <br/>
    E todas as outras pessoas que apoiaram o evento diretamente ou indiretamente e que o nome não está na lista. Muito Obrigado ❤ !!
    <br/>
    <br/>
  </div>
  <div class="row">
    <h1>Organização</h1>
    <ul>
      <li>
        <img src="images/organizers/pythonrio.png" alt="Python Rio">
      </li>
      <li>
        <img src="images/organizers/python-mg-Logo.png" alt="Python MG">
      </li>
      <li>
        <img src="images/organizers/logo-grupysp.png" alt="Grupy SP">
      </li>
    </ul>
  </div>
</section>
