<section class="welcome">
  <div>
    <header class="header row">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
        <div class="carrousel row">
          <div class="centered">
              <h1>1ª conferência das comunidades Python do Sudeste</h1>
              <h2>02 a 03 de Setembro</h2>
              <h3>02 - Palestras | 03 - Sprints</h3>
              <p>
              <h4>Rua dos Aimorés, 1451 - Lourdes, Belo Horizonte - MG<h4>
              <h4>(Centro Universitário UNA)</h4></p>
          </div>
          <div class="centered">
              <br />
              <h1>Estrutura urbana robusta para <br /> recebê-lo</h1>

              <h2>02 a 03 de Setembro</h2>
              <h3>02 - Palestras | 03 - Sprints</h3>
              <p>
              <h4>Rua dos Aimorés, 1451 - Lourdes, Belo Horizonte - MG<h4>
              <h4>(Centro Universitário UNA)</h4></p>
         </div>
        </div>

        <div class="call_to_subscribe">
            <a href="https://www.catarse.me/pt/pythonsudeste" target="_blank" class="register">INSCREVA-SE</a>
        </div>
    </article>
  </div>
</section>
