<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
      <h1>1ª conferência das comunidades Python do Sudeste</h1>

      <h2>02 a 03 de setembro</h2>
      <h3>02 - Palestras | 03 - Sprints</h3>
      <p>Belo Horizonte - MG</p>

      <a href="#" target="_blank" class="register">INSCRIÇÕES EM BREVE</a>
    </article>
  </div>
</section>
