<section class="welcome">
  <div class="row">
    <header class="header">

      <div class="menu-scroll">
        <div class="center">
          {% include menu.html %}
        </div>
      </div>

      {% include menu.html %}
    </header>

    <article class="info">
      <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

      <h2>Sed dictum porta erat, nec finibus odio congue ac</h2>
      <h3>Sed dictum porta erat, nec finibus odio congue ac</h3>
      <p>Sed dictum porta erat, nec finibus odio congue ac</p>

      <a href="#" target="_blank" class="register">INSCREVA-SE AQUI</a>
    </article>
  </div>
</section>
