.welcome {
  position: relative;

  .header {
    position: relative;
    display: table;
    width: 100%;
    padding: 1em 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);

    .logo {
      @extend .fit;
      width: 30%;
      float: left;

      img, span {
        vertical-align: middle;
      }

      img {
        width: 9.5em;
        margin-right: .5em;
      }

      span {
        font-size: .55em;
        font-family: "Panton Light";

        strong {
          font-family: "Panton Bold";
        }
      }
    }

    .menu {
      float: right;
      text-align: left;
      margin-top: 1em;

      .list {
        display: inline-block;
        text-align: left;
        list-style: none;
        margin: 0 -1em;

        .item {
          display: inline-block;

          .item-link {
            display: inline-block;
            font-family: "Panton Bold";
            color: #356F9F;
            text-decoration: none;
            margin: 1em;

            &:hover, .active {
              color: $orange;
            }
          }
        }
      }
    }
    .scroll{
        display:none;
    }
    .menu-scroll {
      position: fixed;
      background-color: rgba(27, 119, 218, 0.49);
      z-index: 999;
      top: 0;
      width: 100%;
      left: 0;
      padding: 5px 30px;
      display: table;
      top: -70px;

      .list .item .item-link {
        color: #fff;
      }

      .top {
          display: none;
      }
      .scroll {
          display: inline;
      }
      .center {
        max-width: 1200px;
        margin: auto;
        display: block;
      }

      .logo {
          float: left;
          margin-top: 6px;
          span {
              font-size: .55em;
          }
          img {
              width: 200px;
          }
      }

      .menu {
        float: right;
      }
    }

    @media(max-width: 905px) {
      .menu .list {
        font-size: .8em;
        vertical-align: middle;
      }
    }

    @media(max-width: 767px) {
      .menu-scroll {
        display: none;
      }

      .menu {
        display: none;
      }
    }
  }

  .info {
    position: relative;
    padding: 5em 0 4em 0;
    @include background("../images/bh-pampulha.jpg", cover, center top);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(213, 236, 70, 0.71);
    }

    h1 {
      font-size: 3.5em;
      font-family: "Panton Light";
      font-weight: bold;
    }

    h2 {
      font-size: 2em;
      margin-top: 2em;
      font-weight: bold;
    }

    h3 {
      font-size: 1em;
    }

    p {
      font-family: "Panton Light";
      margin: .5em 0 2em 0;
    }

    .call_to_subscribe {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .register {
      @extend .btn_call;
    }
  }
}
